# Secrets
*.env

# Dev envs
**/.venv

# Tools binaries
**/tools

# Data
**/data
*.zip
*.CSV
*.csv
done_list.txt
*.crc
*.parquet
_SUCCESS
*.gdelt_batch_complete

# Pycache
**/__pycache__

# Testing, Typing
**/stubs
**/tmp
**/.pytest_cache
**/temp.py
*.coverage

# Models are heavy
**/models

# Formatting
**/.ruff_cache

# Logs
**/logs